.alert-item {
  .simple-container {
    @include clearfix;

    i {

      @include at-least-small-screen-styles {
        position: absolute;
      }

      &.fa-calendar {
        @include at-least-small-screen-styles {
          @include font-size(40px);
          top: -9px;
        }
      }

      &.fa-exclamation-circle {
        @include at-least-small-screen-styles {
          @include font-size(44px);
          top: -12px;
        }
      }

      &.fa-refresh {
        @include at-least-small-screen-styles {
          @include font-size(44px);
          top: -11px;
        }
      }
    }

    .alert-content {
      a {
        color: $src-more-brighter;
      }
      @include at-least-small-screen-styles {
        padding-left: 0;
      }
    }
  }
}
