.simple-search-query-list {
  // first layer
  @include list-unstyled;

  @include at-least-small-screen-styles {
    margin: 0;
    padding: 0;
  }

  #advanced-search-link {
    background-color: $src-slightly-brighter;
  }

  & > li > ul {
    // second layer
    @include list-unstyled;

    border-bottom: 1px solid $src-bright;

    @include at-least-small-screen-styles {
      margin: 0;
      padding: 0;
    }

    .search-link {
      color: $src-less-dark;

      text-decoration: none;

      @include at-least-small-screen-styles {
        display: block;
        @include inner-container-space;
      }

      &:hover {
        color: $src-very-bright;
        background-color: $src-less-dark;
      }

      i {
        @include at-least-small-screen-styles {
          width: $header-font-size;
          margin-right: 12px;
        }
      }
    }
  }
}
