.search-result-list-wrapper {

  .search-results-count {
    color: $src-less-dark;
    @include at-least-small-screen-styles {
      @include font-size(18px);
    }
  }

  .search-results {
    @import "search-result-item";
  }
}
