#search-result-container-wrapper {

  .smart-view-action {
    @include at-least-small-screen-styles {
      margin-left: $padding-xs-horizontal;
      vertical-align: top;
      @include font-size(18px);
    }
  }

  .search-header-section {
    border-bottom: $bright-border;

    .search-header-text {
      color: $src-less-dark;
      font-family: $src-font-family-heading;

      @include at-least-small-screen-styles {
        @include font-size(24px);
      }
    }
  }
}
