// Content Layout
// --------------------------------------------------
#content-wrapper {
  background-color: $src-brighter;

  // make it grow as needed. This keeps the footer at the bottom.
  flex-grow: 1;

  @include at-least-small-screen-styles {
    padding-left: $main-wrapper-padding;
    padding-right: $main-wrapper-padding;

    padding-bottom: 60px;
  }

  .container {
    margin-left: 0;
    padding: 0;
  }

  .content-enter {
    // ReactCSSTransitionGroup adds these classes dynamically
    opacity: 0.01;

    transition: opacity 0.15s linear;
    //    max-height: 0;
    //    overflow: hidden;
    //
    //    transition: max-height .65s ease;

    &.content-enter-active {
      opacity: 1;
      // http://stackoverflow.com/questions/19341546/why-this-css3-transition-on-height-does-not-work
      //      max-height: 1000px;
    }
  }

  .content-leave {
    opacity: 1;

    transition: opacity 0.15s linear;

    &.content-leave-active {
      opacity: 0.01;
    }
  }

  .section {
    @include at-least-small-screen-styles {
      padding-bottom: $src-section-container-margin;
    }
  }

  .alt-section {
    border-top: 2px solid $src-bright;
    background: $src-very-bright;

    @include at-least-small-screen-styles {
      margin-left: -$main-wrapper-padding;
      margin-right: -$main-wrapper-padding;

      padding-left: $main-wrapper-padding;
      padding-right: $main-wrapper-padding;
    }
  }

  .section-container {

    @include at-least-small-screen-styles {
      margin-top: $src-section-container-margin;
      margin-bottom: $src-section-container-margin;
    }
  }

  .section-header {

    @include at-least-small-screen-styles {

      @include font-size(18px);
      color: $src-bright;

      margin-bottom: 25px; // Doesn't affect forms with margin collapse.
    }
  }

  .section-item {
    @include at-least-small-screen-styles {
      margin-top: 25px;
    }
  }
}
