// Header Layout
// --------------------------------------------------
$header-height: 68px;
$header-wrapper-bottom-border-height: 2px;

@mixin bright-header-color {
  color: $src-bright;
}

@mixin dark-header-color {
  color: $src-less-dark;

  a {
    color: $src-less-dark;
  }
}

#header-wrapper {
  display: flex;

  border-bottom: $header-wrapper-bottom-border-height solid $src-bright;
  background-color: $src-very-bright;

  align-items: center;

  @include at-least-small-screen-styles {
    height: $header-height;

    padding-left: 28px;

    @include font-size(18px);
  }

  .header-search {
    flex-grow: 1;

    @include bright-header-color;

    // the search icon child is absolute position
    position: relative;

    .search-icon {
      @include at-least-small-screen-styles {

        position: absolute;
        top: 10px;
        left: 10px;
      }
    }

    .search-box {
      border: solid 1px $src-brighter;
      background: none;

      border-radius: 3px;

      @include at-least-small-screen-styles {
        height: 40px;
        padding-left: 46px;

        width: 552px;
      }

      &::placeholder {
        @include bright-header-color;
      }

      &:hover {
        background-color: $src-slightly-brighter;
      }

      &:focus {
        outline: none;
        box-shadow: 0px 0px 5px 1px rgba(31, 141, 214, 0.3);
        background-color: $src-slightly-brighter;
      }
    }
  }

  .header-nav-section {

    @include dark-header-color;

    & > ul {
      list-style: none;

      @include at-least-small-screen-styles {

        margin: 0;
      }

      .header-item {
        display: inline-block;

        @include at-least-small-screen-styles {

          @include font-size(12px);
        }

        &.header-profile {
          position: relative;

          @include at-least-small-screen-styles {
            margin-right: 25px;
          }

          .header-profile-image {
            width: 25px;
            height: 25px;
            border-radius: 3px;
          }

          .header-profile-name {

            @include at-least-small-screen-styles {
              padding-left: 12px;
            }
          }

          .dropdown-body {

            @include at-least-small-screen-styles {
              @include font-size(12px);
            }
          }
        }

        &.header-alerts {

          @include at-least-small-screen-styles {
            margin-right: 20px;
          }

          i {
            @include dark-header-color;

            @include at-least-small-screen-styles {
              @include font-size(20px);
            }
          }
        }

        &.header-help {

          @include at-least-small-screen-styles {
            margin-right: 30px;
          }
        }

        &.header-new-item {

          @include at-least-small-screen-styles {
            margin-right: 10px;
          }

          .btn {
            color: $src-very-bright;

            @include at-least-small-screen-styles {
              @include font-size(12px);
            }
          }
        }

        .fa-caret-down {

          @include at-least-small-screen-styles {
            padding-left: 8px;
          }
        }

        i {
          vertical-align: middle;
          @include bright-header-color;
        }

        & > a {

          display: inline-block; //allows us to click anywhere in the <a> tag, not just the height of the font-size.

          &:hover, &:focus {
            text-decoration: none;
          }
        }
      }
    }
  }
}
