$main-wrapper-padding: 28px;

#main-wrapper {
  // have this show up at right of the sidebar in the flex container.
  order: 2;

  // make it grow as needed.
  flex-grow: 1;

  // setup order for header, content, footer.
  display: flex;
  flex-direction: column;
}
