// Agreement Form Layout
// --------------------------------------------------
#agreement-form-wrapper {

  .agreement-form-data-entry {

    .agreement-form-section {

      &.agreement-form-section-save {
        button {
          margin-right: 20px;
        }
      }

      &:hover {
        .agreement-form-advanced-field-button {
          visibility: visible !important;
        }
      }

      .form-group {
        .control-label {
          color: $src-less-dark;
          @include at-least-small-screen-styles {
          }
        }

        .form-control {
          i {
            float: right;

            @include at-least-small-screen-styles {
              padding-top: 3px;
            }
          }
        }

        @include at-least-small-screen-styles {
        }

        .agreement-form-button {
          &.agreement-form-action-button, &.agreement-form-expand-button, &.agreement-form-advanced-field-button {

            @include at-least-small-screen-styles {
              float: right;
            }
          }

          &.agreement-form-advanced-field-button {
            @include at-least-small-screen-styles {
              margin-top: 25px;

              visibility: hidden;
            }
          }

          &.agreement-form-field-button {

            @include at-least-small-screen-styles {
              margin-top: 1px;
            }
          }
        }

        .agreement-form-control-text {
          @include at-least-small-screen-styles {
            display: inline-block;
            padding: 0;
            position: relative;
            top: 2px; //required because the padding will push down all inline elements (other buttons)
          }
        }
      }
    }
  }
}
