/*doc
---
title: Main
name: main
category: Main
---
*/

/*doc
---
title: Foundation
name: 1foundation
parent: main
---
*/

/*doc
---
title: Base Styles
name: base
parent: main
---
*/

/*doc
---
title: Patterns
name: patterns
parent: main
---
*/

/*doc
---
title: Forms
name: forms
parent: main
---
*/

// Our own variables
@import "app/base/variables";

// This allows us to override bootstrap (below) because they use !default
@import "vendor/bootstrap_variables";

// Override Vendors
@import "vendor/font-awesome";
@import "vendor/vendor_overrides";

// Our own variables
@import "app/base/mixins";

// Rely on a lot of bootstrap classes, mixins -- defined by our variables and overrides
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Bring in our global app styling
@import "app/base/animations";
@import "app/base/buttons";
@import "app/base/colors";
@import "app/base/components";
@import "app/base/containers";
@import "app/base/feedback";
@import "app/base/forms";
@import "app/base/icons";
@import "app/base/payment";
@import "app/base/responsive";
@import "app/base/typography";

// Bring in our feature-specific styling
@import "app/activity/activity";
@import "app/agreement/agreement";
@import "app/app-layout/app-layout";
@import "app/dashboard/dashboard";
@import "app/search/search";
@import "app/session/session";
@import "app/task/task";
