// MI Form Layout
// --------------------------------------------------

.mi-form-section {

  &.mi-form-section-save {
    button {
      margin-right: 20px;
    }
  }

  &:hover {
    .mi-form-advanced-field-button {
      visibility: visible !important;
    }
  }

  .mi-form-data-entry {

    .form-group {
      .control-label {
        color: $src-less-dark;
        @include at-least-small-screen-styles {
        }
      }

      .form-control {
        i {
          float: right;

          @include at-least-small-screen-styles {
            padding-top: 3px;
          }
        }
      }

      @include at-least-small-screen-styles {
      }

      .mi-form-button {
        &.mi-form-action-button, &.mi-form-expand-button, &.mi-form-advanced-field-button {

          @include at-least-small-screen-styles {
            float: right;
          }
        }

        &.mi-form-advanced-field-button {
          @include at-least-small-screen-styles {
            margin-top: 25px;

            visibility: hidden;
          }
        }

        &.mi-form-field-button {

          @include at-least-small-screen-styles {
            margin-top: 1px;
          }
        }
      }

      .mi-form-control-text {
        @include at-least-small-screen-styles {
          display: inline-block;
          padding: 0;
          position: relative;
          top: 2px; //required because the padding will push down all inline elements (other buttons)
        }
      }
    }
  }
}
