// Button Styles
// --------------------------------------------------
/*doc
---
title: Buttons
name: buttons
parent: base
---
<div class="sg-section">
  <p>
    <button type="button" class="btn btn-default">Default</button>
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-link">Link</button>
  </p>
  <p>
    <button type="button" class="btn btn-default disabled">Default</button>
    <button type="button" class="btn btn-primary disabled">Primary</button>
    <button type="button" class="btn btn-success disabled">Success</button>
    <button type="button" class="btn btn-info disabled">Info</button>
    <button type="button" class="btn btn-warning disabled">Warning</button>
    <button type="button" class="btn btn-danger disabled">Danger</button>
    <button type="button" class="btn btn-link disabled">Link</button>
  </p>
  <p>
    <button type="button" class="btn btn-primary btn-lg">Large</button>
    <button type="button" class="btn btn-primary disabled">Disabled</button>
    <button type="button" class="btn btn-primary">Default</button>
    <button type="button" class="btn btn-primary btn-sm">Small</button>
    <button type="button" class="btn btn-primary btn-xs">Extra Small</button>
  </p>
</div>
*/

@mixin btn($btn-color, $shadow-color, $inset-shadow-alpha: .20) {
  background-image: linear-gradient($btn-color, darken($btn-color, 5%));

  box-shadow: 0 1px 3px 0 rgba($shadow-color, 0.50), inset 0 1px 0 0 rgba($src-very-bright, $inset-shadow-alpha);

  $active-background: linear-gradient(darken($btn-color, 5%), darken($btn-color, 10%));

  &:hover {
    background: $active-background;
    box-shadow: 0 1px 3px 1px rgba($shadow-color, 0.55);
  }

  &:active, &.active {
    background: $active-background;
    box-shadow: 0 1px 3px 0 rgba($shadow-color, 0.55), inset 0 3px 6px $src-very-dark;
  }
}

.btn {
  font-family: $src-font-family-heading;
  border: none;
  text-transform: uppercase;
  font-size: inherit; //overwrite bootstrap's font-sizes for buttons.
  line-height: inherit; //overwrite bootstrap's line-heights for buttons.

  padding: 0.4375em 0.875em; // 7x14 @ normal (16px)
}

.btn-default {
  @include btn($src-less-bright, $src-less-dark);
}

.btn-info {
  @include btn($src-bright, $src-less-dark);
}

.btn-primary {
  @include btn($src-more-brighter, $src-less-dark, .5);

  border-radius: 3px;

  border: 1px solid $src-very-dark;
}

.btn-group-xs, .btn-group-sm, .btn-group-md, .btn-group-lg {
  & > .btn {
    line-height: inherit; //overwrite bootstrap's line-heights for buttons.
  }
}

.btn-sm {
  padding: 0.3125em 0.625em; // 5x10 @ normal (16px)
}

.btn-xs {
  padding: 0.1875em 0.5em; // 3x8 @ normal (16px)
}
