// Component Styles
// --------------------------------------------------

// Dropdowns
// --------------------------------------------------
.dropdown-wrapper {
  position: relative;
}

// Separators
// --------------------------------------------------
.separator {
  border-bottom: 1px solid $src-bright;
  line-height: 0.1em;
  text-align: center;

  @include at-least-small-screen-styles {
    margin-top: $src-content-section-vertical-space - $src-separator-margin;
  }
}

.separator-body {
  background-color: $src-brighter;
  color: $src-bright;

  @include at-least-small-screen-styles {
    padding: 18px;
    position: relative;
    top: $src-separator-margin;
  }

  .separator-circle {
    display: inline-block; //prevent height for 'descendors'
    border-radius: 50%;
    border: 1px solid $src-bright;
    background-color: $src-very-bright;

    @include at-least-small-screen-styles {
      padding: 16px;
    }

    i {
      @include at-least-small-screen-styles {
      }
    }
  }
}

.alt-separator-body {
  background-color: $src-very-bright;
}

