// Container Styles
// --------------------------------------------------

// Panels
// --------------------------------------------------
/*doc
---
title: Panels
name: panels
parent: patterns
---
<div class="sg-section">
  <h4>Basic example</h4>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default sg-panel">
        <div class="panel-body">
        Hey there, check out my body!
        </div>
      </div>
    </div>
  </div>

  <h4>Panel with Heading</h4>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default sg-panel">
        <div class="panel-heading">
          Hey there, check out my heading!
        </div>
        <div class="panel-body">
          Hey there, check out my body!
        </div>
      </div>
    </div>
  </div>

</div>
*/

.panel {
  background: $src-very-bright;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.50);
  border-radius: $container-border-radius;
  border: none;
  color: $container-color;

  @include at-least-small-screen-styles {
    margin-bottom: 0;
  }

  &.panel-default {
    & > .panel-heading {
      color: $src-very-bright;
      background: $src-less-dark;
    }
  }

  &.panel-alt {
    background: $src-brighter;
  }

}

.panel-heading {
  border: none;
  border-top-left-radius: $container-border-radius;
  border-top-right-radius: $container-border-radius;

  @extend .text-uppercase;

  @include at-least-small-screen-styles {
    @include inner-container-space-lg;
  }
}

.panel-body {
  @include at-least-small-screen-styles {
    @include inner-container-space-lg;
  }
}

// Popovers
// --------------------------------------------------
/*doc
---
title: Popovers
name: popovers
parent: patterns
---
<div class="sg-section">
  <h4>Basic example</h4>
  <div class="row">
    <div class="col-md-12">
      <div class="sg-popover popover">
        <h3 class="popover-title">Find Contracts</h3>

        <div class="popover-content">
            <p>Sed posuere consectetur est at lobortis. Aenean
                eu leo quam. Pellentesque ornare sem lacinia
                quam venenatis vestibulum.
            </p>
        </div>
    </div>
    </div>
  </div>
</div>
*/
.popover {
  display: block;

  background: $src-very-bright;
  border-radius: $container-border-radius;

  @include hovering-container-border;

  max-width: none;

  padding: 0;

  color: $container-color;
}

.popover-title {
  @extend .text-uppercase;

  background: none;
  border: none;

  // subtract because the `.popover` is defining a border width
  border-top-left-radius: $container-border-radius - 1;
  border-top-right-radius: $container-border-radius - 1;

  @include at-least-small-screen-styles {
    @include inner-container-space-lg;
  }

}

.popover-content {
  @include at-least-small-screen-styles {
    @include inner-container-space-lg;
  }
}

// Dropdowns
// --------------------------------------------------
/*doc
---
title: Dropdowns
name: dropdowns
parent: patterns
---
<div class="sg-section">
  <h4>Basic example</h4>
  <div class="sg-dropdown-row row">
    <div class="col-md-4">
      <div class="sg-dropdown open">
       <a data-target="#" href="javascript:void(0)" data-toggle="dropdown"><span>Actions</span><i class="fa fa-caret-down"></i></span></a>
       <ul class="dropdown-menu">
          <li role="presentation"> <a role="menuitem" href="javascript:void(0)">Dashboard</a></li>
          <li role="presentation"> <a role="menuitem" href="javascript:void(0)">Edit Profile</a></li>
          <li role="presentation"> <a role="menuitem" href="javascript:void(0)">Admin</a></li>
          <li role="presentation" class="divider"></li>
          <li role="presentation"> <a role="menuitem" href="javascript:void(0)">Logout</a></li>
       </ul>
      </div>
    </div>
  </div>
</div>
<div class="sg-section">
  <h4>Arrow example</h4>
  <div class="sg-dropdown-row row">
    <div class="col-md-4">
      <div class="sg-dropdown open">
       <a data-target="#" href="javascript:void(0)" data-toggle="dropdown"><span>Actions</span><i class="fa fa-caret-down"></i></span></a>
       <ul class="dropdown-menu dropdown-menu-arrow">
          <li role="presentation"> <a role="menuitem" href="javascript:void(0)">Dashboard</a></li>
          <li role="presentation"> <a role="menuitem" href="javascript:void(0)">Edit Profile</a></li>
          <li role="presentation"> <a role="menuitem" href="javascript:void(0)">Admin</a></li>
          <li role="presentation" class="divider"></li>
          <li role="presentation"> <a role="menuitem" href="javascript:void(0)">Logout</a></li>
       </ul>
      </div>
    </div>
  </div>
</div>
<div class="sg-section">
  <h4>Right-sided Dropdown example</h4>
  <div class="sg-dropdown-row row">
    <div class="col-md-4 col-md-offset-2">
      <div class="sg-dropdown open pull-right">
       <a data-target="#" href="javascript:void(0)" data-toggle="dropdown"><span>Actions</span><i class="fa fa-caret-down"></i></span></a>
       <ul class="dropdown-menu dropdown-menu-arrow dropdown-menu-arrow-right">
          <li role="presentation"> <a role="menuitem" href="javascript:void(0)">Dashboard</a></li>
          <li role="presentation"> <a role="menuitem" href="javascript:void(0)">Edit Profile</a></li>
          <li role="presentation"> <a role="menuitem" href="javascript:void(0)">Admin</a></li>
          <li role="presentation" class="divider"></li>
          <li role="presentation"> <a role="menuitem" href="javascript:void(0)">Logout</a></li>
       </ul>
      </div>
    </div>
  </div>
</div>
*/
.dropdown-menu {
  background: $src-very-bright;

  @include hovering-container-border;

  font-size: inherit;

  @include at-least-small-screen-styles {
    padding: 11px 0;
    min-width: 0;
  }

  & > li {
    &.divider {
      background-color: $src-bright;
    }

    & > a {
      @include at-least-small-screen-styles {
        padding: 9px 18px;
      }
    }
  }
}

.dropdown-menu-arrow {
  @extend .dropdown-menu-left; // defined in bootstrap

  @include at-least-small-screen-styles {
    margin-top: 10px;

    &::before {
      position: absolute;
      top: -10px;
      left: 13px;
      display: inline-block;
      border-right: 10px solid transparent;
      border-bottom: 10px solid rgba(0, 0, 0, 0.20);
      border-left: 10px solid transparent;
      content: '';
    }
    &::after {
      position: absolute;
      top: -9px;
      left: 14px;
      display: inline-block;
      border-right: 9px solid transparent;
      border-bottom: 9px solid $src-very-bright;
      border-left: 9px solid transparent;
      content: '';
    }
  }
}

.dropdown-menu-arrow-right {
  @extend .dropdown-menu-right; // defined in bootstrap

  @include at-least-small-screen-styles {
    &::before {
      left: auto;
      right: 13px;
    }

    &::after {
      left: auto;
      right: 14px;
    }
  }
}

// Simple Containers
// --------------------------------------------------
/*doc
---
title: Simple Container
name: simple-container
parent: patterns
---
<div class="sg-section">
  <h4>Basic example</h4>
   <div class="row">
    <div class="col-md-12">
      <div class="simple-container">
        Hey there, check out my body!
      </div>
    </div>
  </div>
</div>
*/
.simple-container {
  background: $src-very-bright;

  border: 1px solid $src-bright;

  color: $src-bright;

  border-radius: $container-border-radius;

  position: relative; //some things inside might be absolute.

  @include at-least-small-screen-styles {
    @include inner-container-space;
  }
}

.simple-container-bottom {
  border: none;
  border-bottom: 1px solid $src-bright;
}

// File Upload
// --------------------------------------------------
.dropzone {

  background: $src-very-bright;

  &.dz-clickable {
    cursor: pointer;
  }

  &.dz-drag-hover {

    .dz-message {

    }
  }

  .dz-message {

  }
}

// Media Objects
// --------------------------------------------------

.media-right {
  padding-left: 20px;
}

.media-left {
  padding-right: 20px;
}

// Data Display
// --------------------------------------------------

.data-container {
  color: $container-color;

  .data-row {
    @include make-row();

    @include at-least-small-screen-styles {
      margin-bottom: $src-content-section-vertical-space-xxs;
    }

    .name {
      font-weight: lighter;

      @include at-least-small-screen-styles {
        @include make-sm-column(9);

        text-align: right;
      }
    }

    .value {
      @include at-least-small-screen-styles {

        @include make-sm-column(15);
        text-align: left;
      }
    }
  }
}
