// Form Styles
// --------------------------------------------------
@mixin input-focus {
  border-color: $src-more-brighter;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba($src-more-brighter, 0.6);
  outline: 0;
}

// Form Input
// --------------------------------------------------
/*doc
---
title: Horizontal Form
name: horizontal-form
parent: forms
---
<div class="sg-section">
  <div class="row">
    <div class="col-md-24">
      <form class="form-horizontal">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-4 control-label">Email</label>
    <div class="col-sm-12">
      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-4 control-label">Password</label>
    <div class="col-sm-12">
      <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-12">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Remember me
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-12">
      <button type="submit" class="btn btn-default">Sign in</button>
    </div>
  </div>
</form>
    </div>
  </div>
*/

.form-control {
  // it is probably good for form controls to be this opinionated, given that the color will probably always work
  // on a white background.

  @include form-input();

  &:focus, &.focus {
    @include input-focus();
  }

  i {
    color: $src-bright;
  }
}

.control-label {
  font-weight: lighter;
}

// React-Select Select Input Element
// --------------------------------------------------
.Select {
  .Select-control {
    @include form-input();

    padding: $padding-base-vertical $padding-base-horizontal;

    .Select-clear {
      color: $src-bright;

      &:hover {
        color: $src-more-bright;
      }
    }

    .Select-arrow {
      border-color: $src-bright transparent;
    }

    .Select-placeholder{
      padding: $padding-base-vertical $padding-base-horizontal;
    }
  }

  &.has-value > .Select-control > .Select-placeholder {
    color: $src-less-dark;
  }

  .Select-option {
    color: $src-less-dark;

    &.is-focused {
      background-color: $src-brighter;
      color: $src-very-dark;
    }
  }
}
