// Grid Styles
// --------------------------------------------------

// Bootstrap Grid
// --------------------------------------------------
body {
  .row {
    .no-left-gutter {
      padding-left: 0;
    }
  }
}

.row {
  .gutter-xs {
    padding-left: $src-grid-gutter-xs;
    padding-right: $src-grid-gutter-xs;
  }
}
