// Icons Stying
// --------------------------------------------------

i {
  &.space-left {
    @include at-least-small-screen-styles {
      margin-left: $src-icon-horizontal-space;
    }
  }

  &.space-left-md {
    @include at-least-small-screen-styles {
      margin-left: $src-icon-horizontal-space-md;
    }
  }

  &.space-right-lg {
    @include at-least-small-screen-styles {
      margin-right: $src-icon-horizontal-space-lg;
    }
  }

  &.space-right {
    @include at-least-small-screen-styles {
      margin-right: $src-icon-horizontal-space;
    }
  }

  &.space-right-md {
    @include at-least-small-screen-styles {
      margin-right: $src-icon-horizontal-space-md;
    }
  }

  &.fa-chevron-down {
    font-size: 0.625em;
  }

  &.fa-circle {
    //font-size: 0.285em; // chrome calculates this incorrectly. ex: parent = .875rem, circle = .285 em = 9px? It works in FF.
    font-size: 4px;
  }
}
