.advanced-search-container {
  .advanced-search-list {
    // first layer
    list-style: none;

    @include at-least-small-screen-styles {
      margin: 0;
      padding: 0;
    }

    .search-field {

      &:hover {
        background-color: $src-slightly-brighter;
      }

      &.empty {
        &:not(.focused) {

          .search-field-value {
            border-bottom: solid 1px $src-bright;
            height: 16px;
          }

          .search-field-text-value {
            @include at-least-small-screen-styles {
              display: none;
            }
          }
        }
      }

      &:not(.empty) {
        i {
          color: $src-more-brighter;
        }
      }

      &.focused {

        .search-field-value {

          .search-field-text-value {
            @include at-least-small-screen-styles {
              display: none;
            }
          }

          .search-field-text-input-value, .search-field-apollo-tagsinput {
            @include at-least-small-screen-styles {
              display: block;
            }
          }
        }
      }

      &.more-fields-link {

        .search-field-label {
          @include at-least-small-screen-styles {
            margin-right: 4px;
          }
        }

        i {
          color: $src-less-dark;
          &.more-fields-icon {
            @include at-least-small-screen-styles {
              @include font-size(10px);
            }
          }
        }
      }

      @include at-least-small-screen-styles {
        display: flex;

        align-items: center;

        @include inner-container-space;

        height: 50px;
      }

      i {
        @include at-least-small-screen-styles {
          width: $src-font-size-small;
          margin-right: 12px;
          flex-shrink: 0; //search-field-value can grow
        }
      }

      .search-field-label {

        @include at-least-small-screen-styles {
          margin-right: 12px;
          flex-shrink: 0; //search-field-value can grow
        }
      }

      .search-field-value {
        cursor: text;
        border-bottom: 1px solid transparent;

        @include at-least-small-screen-styles {
          flex-grow: 1;
        }

        .search-field-text-input-value, .search-field-apollo-tagsinput {
          @include at-least-small-screen-styles {
            display: none;
            @include font-size($src-font-size-small);
            height: auto; //reset bootstrap
            min-height: $advanced-input-field-size;
            padding-top: 2px;
            padding-bottom: 2px;
          }
        }

        .search-field-text-value {
          @include at-least-small-screen-styles {
            // line up with text box
            padding-left: 15px;
          }
        }

        .search-field-apollo-tagsinput {
          @extend .form-control;

          &.focused {
            @extend .form-control.focus;
          }

          &:not(.focused) {

            &:not(.empty) {
              @include at-least-small-screen-styles {
                display: block;
                border: none;
                box-shadow: none;
                background: none;

                .search-field-apollo-tagsinput-input {
                  // it's especially important that this not displayed, because depending on the state `focused, empty` we
                  // might want to basically hide the fact that a text box exists.
                  display: none;
                }
              }
            }
          }

          .search-field-apollo-tagsinput-tag {
            display: inline-block; //match the height of children, not just font-size.

            .search-field-apollo-tagsinput-remove {
              display: none; //don't use this right now.
              cursor: pointer;
              color: $src-very-bright;

              &:before {
                content: " x";
              }
            }

            .search-field-apollo-token {
              display: inline-block; //inline padding isn't respected by block container.
              color: $src-very-bright;
              padding: 1px 10px;
              margin-bottom: 1px;
              margin-right: 5px;
              border-radius: 3px;
              cursor: default;

              &.search-field-apollo-token-scalar {
                background: $src-bright;
              }

              &.search-field-apollo-token-composite {
                background: $src-slightly-brighter;

                .search-field-apollo-drag {
                  i {
                    color: $src-bright;
                  }
                }
              }

              &.drop-available {
                background: $src-even-brighter;
                box-shadow: 0 0 2px 2px $src-even-brighter;

                &:not(.drop-hovering) {
                  animation: shake 1s infinite;
                }
              }

              &.drop-hovering {
                // The initial plan was to use transitions:
                // transform: scale(2.1);
                // transition: transform .05s;
                // but it didn't seem to trigger the transitions if the animation property is also defined (above).

                animation: grow .05s both;
              }

              .search-field-apollo-text {
                vertical-align: middle; //buttons are middle by default, so line up with em.
                @include at-least-small-screen-styles {
                }
              }

              .search-field-apollo-drag {
                cursor: move;
                display: inline-block; //make all icons, and the space between, grabbable.

                @include at-least-small-screen-styles {
                  margin-right: 4px;
                  width: auto;
                }

                i {
                  color: $src-very-bright;
                  vertical-align: middle;
                  @include at-least-small-screen-styles {
                    margin-right: 2px;
                    width: auto;
                  }
                }
              }

              .btn-group {

                &.open {
                  .btn-default {
                    @extend .btn-default.active;
                  }
                }

                .btn {
                  // technically these buttons are part of a token and should therefore reside within search-field-apollo-token
                  @include at-least-small-screen-styles {
                    margin-right: 5px;
                    padding: 1px 10px;
                  }
                }

                .dropdown-menu {
                  a {
                    color: $src-less-dark;
                  }
                }

              }
            }
          }

          .search-field-apollo-tagsinput-input {
            border: none;
            padding: 1px 0 0; //there seems to be a need for just a little nudge of the inner textbox.
            width: 80px;

            // it's especially important that this is none, because depending on the state `focused, empty` we
            // might want to basically hide the fact that a text box exists.
            background: none;

            &:focus {
              outline: none;
            }
          }
        }
      }

      // date input value is not put within a .search-field-value.
      .search-field-date-input-value {
        @include at-least-small-screen-styles {

          @include font-size($src-font-size-small);
          height: $advanced-input-field-size;
          width: 80px;
          margin-right: 12px;
        }
      }

      .search-field-button {
      }
    }
  }

  .advanced-search-button {
    @include at-least-small-screen-styles {
      @include inner-container-space;
    }

    .btn-primary {
    }
  }
}

