// Create Agreement Layout
// --------------------------------------------------
#create-agreement-wrapper {

  .import-agreement-panel {

    .panel-body {

      @include at-least-small-screen-styles {
        padding-top: 110px;
        padding-bottom: 130px;
        text-align: center;
      }

      .import-agreement-container {

        &:hover {
          .fa {
            color: $src-less-dark;
          }
        }

        .dropzone {
          &.dz-drag-hover {
            .secondary-import-text span {
              @extend .btn-primary;
            }
          }
        }

        .fa {
          color: $src-bright;
          @include at-least-small-screen-styles {
            @include font-size(168px);
          }
        }

        .primary-import-text {
          color: $src-less-dark;

          @include at-least-small-screen-styles {
            @include font-size(16px);
            margin-bottom: 12px;
          }
        }

        .secondary-import-text {
          span {
            color: $src-bright;

            @include at-least-small-screen-styles {
              @include font-size($src-font-size-small);

              padding: 6px 12px;
            }
          }
        }

        .important-agreement-feedback {
          .feedback-text {
            @include at-least-small-screen-styles {
              @include font-size(18px);
            }
          }

          #important-agreement-feedback-progress {
            @include at-least-small-screen-styles {
              height: $src-progress-bar-height;
              width: 255px;
              margin: 0 auto;
              margin-top: $src-content-section-vertical-space-md;
              overflow: hidden;
            }

            #nprogress {
              .bar {
                background: $src-bright;
              }
            }
          }

        }
      }
    }
  }

  .generate-agreement-section {
    @include at-least-small-screen-styles {
      text-align: center;
    }

    h4 {
      @include at-least-small-screen-styles {
        @include font-size(16px);
        border-bottom: 1px solid $src-bright;
        line-height: 0.1em;
      }

      span {
        background-color: $src-brighter;

        cursor: default;
        user-select: none;

        @include at-least-small-screen-styles {
          padding-left: 18px;
          padding-right: 18px;
        }
      }
    }
  }
}
