#dashboard-wrapper {

  .activity-list-section {
    border-top: $bright-border;

    @include at-least-small-screen-styles {
      margin-bottom: -$content-padding;
    }

    #activity-list-wrapper {

      .separator-body {
        background-color: $src-very-bright;
      }
    }
  }
}
