#activity-list-wrapper {

  .simple-container {
    color: #707C94;

    @include at-least-small-screen-styles {
      padding-left: 0;
    }

    @include clearfix;

    i {

      @include at-least-small-screen-styles {
        position: absolute;
        @include font-size(28px);
      }

      &.fa-edit {
        @include at-least-small-screen-styles {
          top: -2px;
        }
      }

      &.fa-comment-o {
        @include at-least-small-screen-styles {
          top: -5px;
        }
      }

      &.fa-plus-square-o {
        @include at-least-small-screen-styles {
          top: -2px;
        }
      }
    }

    .activity-action {
      @include at-least-small-screen-styles {
        padding-left: 0;
      }
    }

    .activity-profile-image {
      @include at-least-small-screen-styles {
        position: absolute;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        top: -4px;
        left: 7px
      }
    }

    .activity-content {

      @include at-least-small-screen-styles {
        padding-left: 14px;
      }

      strong {
        color: $src-very-dark;
        font-weight: normal;
      }
    }

    .task-action {
      text-transform: uppercase;
      text-align: center;

      @include at-least-small-screen-styles {
        display: none;

        position: absolute;
        top: -1px; // cover up the borderw
        bottom: -1px;
        padding-top: $src-simple-container-height-padding;
      }

      &.task-action-done {
        background-color: $src-more-brighter;

        @include at-least-small-screen-styles {
          right: 0;

          border-right: 1px solid $src-more-brighter;
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
        }
      }

      &.task-action-snooze {
        background-color: $src-more-bright;
      }

      &.task-action-edit {
        background-color: $src-even-brighter;
      }
    }
  }
}
