#activity-list-wrapper {

  .simple-container {
    color: #707C94;

    @include at-least-small-screen-styles {
      padding-left: 0;
    }

    @include clearfix;

    i {

      @include at-least-small-screen-styles {
        position: absolute;
        @include font-size(28px);
      }

      &.fa-edit {
        @include at-least-small-screen-styles {
          top: -2px;
        }
      }

      &.fa-comment-o {
        @include at-least-small-screen-styles {
          top: -5px;
        }
      }

      &.fa-plus-square-o {
        @include at-least-small-screen-styles {
          top: -2px;
        }
      }
    }

    .activity-action {
      @include at-least-small-screen-styles {
        padding-left: 0;
      }
    }

    .activity-profile-image {
      @include at-least-small-screen-styles {
        position: absolute;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        top: -4px;
        left: 7px
      }
    }

    .activity-content {

      @include at-least-small-screen-styles {
        padding-left: 14px;
      }

      strong {
        color: $src-very-dark;
        font-weight: normal;
      }
    }
  }
}
