// Header Layout
// --------------------------------------------------

@mixin bright-header-color {
  color: $src-bright;
}

@mixin dark-header-color {
  color: $src-less-dark;

  a {
    color: $src-less-dark;
  }
}

#header-wrapper {
  border-bottom: $bright-border;

  background-color: $src-very-bright;

  align-items: center;

  @include at-least-small-screen-styles {
    display: flex;
    height: $header-height;

    padding-left: $src-content-section-horizontal-space;
    padding-right: $src-content-section-horizontal-space;

    @include font-size($header-font-size);
  }

  .header-search {
    flex-grow: 1;

    @include bright-header-color;

    // the search icon child is absolute position
    position: relative;

    .search-icon {
      @include at-least-small-screen-styles {

        position: absolute;
        top: 10px;
        left: 20px;

        width: $header-font-size;
      }
    }

    .search-box {
      border: solid 1px $src-brighter;
      background: none;

      border-radius: 3px;

      @include at-least-small-screen-styles {
        height: $header-search-height;
        padding-left: 50px;

        width: $header-search-width;
      }

      &::placeholder {
        @include bright-header-color;
      }

      &:focus {
        @include input-focus();
      }
    }

    .search-popover {
      @include at-least-small-screen-styles {
        top: $header-search-height;
        width: $header-search-width;
        @include font-size($header-font-size);
      }

      .popover-content {
        @include at-least-small-screen-styles {
          margin: 0;
          padding: 0;
        }
      }
    }

    .advanced-search-popover {
      @include at-least-small-screen-styles {
        top: $header-search-height;
        width: 798px; // should be $header-search-width?
        @include font-size($src-font-size-small);
      }

      .popover-title {
        @include at-least-small-screen-styles {
          @include font-size($src-font-size-small);
        }
      }

      .popover-content {
        @include at-least-small-screen-styles {
          margin: 0;
          padding: 0;
        }
      }
    }
  }

  .header-nav-section {

    @include dark-header-color;

    & > ul {
      @include list-unstyled;

      @include at-least-small-screen-styles {

        margin: 0;
      }

      .header-item {
        display: inline-block;

        @include at-least-small-screen-styles {

          @include font-size(12px);
        }

        &.header-profile {
          position: relative;

          @include at-least-small-screen-styles {
            margin-right: 25px;
          }

          .header-profile-image {
            width: 25px;
            height: 25px;
            border-radius: 3px;
          }

          .header-profile-name {

            @include at-least-small-screen-styles {
              padding-left: 12px;
            }
          }

          .dropdown-menu {

            @include at-least-small-screen-styles {
              @include font-size(12px);
            }
          }
        }

        &.header-alerts {

          @include at-least-small-screen-styles {
            margin-right: 20px;
          }

          i {
            @include dark-header-color;

            @include at-least-small-screen-styles {
              @include font-size(20px);
            }
          }
        }

        &.header-help {

          @include at-least-small-screen-styles {
            margin-right: 30px;
          }
        }

        &.header-new-agreement {

          .btn {
            color: $src-very-bright;

            @include at-least-small-screen-styles {
              @include font-size(12px);
              padding-top: 2px;
              padding-bottom: 2px;
            }
          }
        }

        i {
          vertical-align: middle;
          @include bright-header-color;
        }

        & > a {

          display: inline-block; //allows us to click anywhere in the <a> tag, not just the height of the font-size.

          &:hover, &:focus {
            text-decoration: none;
          }
        }
      }
    }
  }
}
