body {
  background-color: $src-brighter;
}

// CONTAINERS
.sg-section {
  overflow: visible;
}

.sg-popover {
  position: static;
  display: block;
}

.sg-dropdown-row {
  height: 250px;

  .sg-dropdown {
    position: relative;
  }
}

// NAV
#sg-top-nav .sg-navbar-brand {
  padding: 10px 15px;
  color: $src-very-dark;
  height: 40px;
}

#sg-top-nav > div > ul > li > a {
  color: $src-very-dark;

  padding-top: 10px;
  padding-bottom: 10px;

  background-image: -webkit-linear-gradient(top, #f2f2f2 0%, #fafafa 100%);
  background-image: linear-gradient(to bottom, #f2f2f2 0%, #fafafa 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2f2f2', endColorstr='#fffafafa', GradientType=0);
  -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
}

// HEADING
.page-header {
  border-bottom: 1px solid $src-slightly-brighter;
}

h1.styleguide {
  // hologram puts an h1 by default
  display: none;

  & + ul.section-nav {
    // hologram puts an h1 by default
    // `+ul.section-nav` targets the sibling of `h1.styleguide`
    display: none;
  }
}

h2.styleguide {
  @extend .page-header;
  @extend h1;

  //h1.styleguide set its display to none, let's change it
  display: block;

  font-size: 38px;

  margin-left: -15px;
  margin-right: -15px;

  padding-top: 80px;

  text-transform: capitalize;
}

h3.styleguide {
  @extend .page-header;
  @extend .sg-h2;
  margin-top: 60px;
  font-size: 31px;
  text-transform: capitalize;
}

h4 {
  margin: 15px auto;
  text-transform: capitalize;
}

// FOOTER
footer {
  margin-top: 50vh;
}
