#search-result-wrapper {
  .search-header-section {
    border-bottom: $bright-border;

    @include at-least-small-screen-styles {
      padding-top: 25px;
      padding-bottom: 25px;
    }

    .search-header-text {
      color: $src-less-dark;
      font-family: $src-font-family-heading;

      @include at-least-small-screen-styles {
        @include font-size(24px);
      }
    }
  }

  .search-results-section {

    .search-results-count {
      color: $src-less-dark;
      @include at-least-small-screen-styles {
        @include font-size(18px);
        margin-top: 35px;
        margin-bottom: 25px;
      }
    }

    .search-adjust {
      button {
        text-transform: none;

        @include at-least-small-screen-styles {
          @include font-size(14px);
        }

        &.sort-search-button {
          @include at-least-small-screen-styles {
            margin-right: 20px;
          }

          span {
            vertical-align: middle; //line up with chevron
          }
          i {
            @include at-least-small-screen-styles {
              padding-left: 8px;
              @include font-size(10px);
            }
          }
        }

        &.refine-search-button {
          @include at-least-small-screen-styles {
            margin-right: 20px;
          }

          span {
            vertical-align: middle; //line up with chevron
          }

          i {
            @include at-least-small-screen-styles {
              padding-right: 8px;
            }
          }
        }
      }
    }
    .search-results {

      .search-result-counterparty-image {

        @include at-least-small-screen-styles {
          margin-right: 0;
          margin-left: auto;
        }
      }

      .search-result-mi-name {
        color: $src-very-dark;
        text-transform: none;
      }

      .search-result-mi-details {
        @include at-least-small-screen-styles {
          @include font-size(14px);
          margin-top: 15px;
          margin-bottom: 15px;
        }

        .search-result-mi-detail {
          i.fa-file {
            @include at-least-small-screen-styles {
              margin-right: 6px;
            }
          }
        }

        i.fa-circle {
          //chrome was not respecting the rem font size - it was sticking at 9px font-size
          font-size: 4px;
          vertical-align: middle;

          @include at-least-small-screen-styles {
            margin-left: 8px;
            margin-right: 8px;
          }
        }
      }
    }
  }
}
