#search-result-list-wrapper {

  .search-header-section {
    border-bottom: $bright-border;

    .search-header-text {
      color: $src-less-dark;
      font-family: $src-font-family-heading;

      @include at-least-small-screen-styles {
        @include font-size(24px);
      }
    }
  }

  .search-count-section {
    .search-results-count {
      color: $src-less-dark;
      @include at-least-small-screen-styles {
        @include font-size(18px);
      }
    }

    .search-adjust {
      button {
        @include at-least-small-screen-styles {
          @include font-size($src-font-size-small);
        }

        &.sort-search-button {
        }

        &.refine-search-button {
        }
      }
    }
  }

  .search-results-section {
    .search-results {
      @import "search-result-item";
    }
  }
}
